--cxxopt='-std=c++1y'

build --experimental_strict_action_env=true
build --action_env=PATH=/opt/ros/melodic/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/sbin:/bin:/usr/bin
build --action_env=LD_LIBRARY_PATH=/opt/ros/melodic/lib
build --test_env=PATH=/opt/ros/melodic/bin:/bin:/usr/bin
build --test_env=LD_LIBRARY_PATH=/opt/ros/melodic/lib
build --test_env ROS_PACKAGE_PATH=/root/catkin_ws/install/share:/opt/ros/melodic/share
build --test_env ROS_HOME=/tmp
